In [58]:
import pandas as pd
df = pd.read_csv("./split_week_csv/baseline.csv")
df = df[df["Text"].str.startswith("Free")].reset_index(drop=True)
df["Start"] = pd.to_datetime(df["Start"], format="%H:%M")
df["End"] = pd.to_datetime(df["End"], format="%H:%M")
df["Duration"] = (df["End"] - df["Start"]).dt.total_seconds() / 60
df = df.groupby(["Week", "Day", "Text"])["Duration"].sum().reset_index()
df = df.pivot(index=["Week", "Day"], columns="Text", values="Duration").reset_index().fillna(0)
df

Text,Week,Day,Free,Free (at Gymnastics),Free (boys at home),Free (boys in bed),Free (with Milo at home)
0,0,0,335.0,50.0,60.0,120.0,0.0
1,0,1,385.0,0.0,40.0,60.0,90.0
2,0,2,335.0,0.0,170.0,120.0,0.0
3,0,3,335.0,0.0,170.0,120.0,0.0
4,0,4,765.0,0.0,0.0,0.0,0.0
5,0,5,960.0,0.0,0.0,0.0,0.0
6,0,6,750.0,0.0,0.0,60.0,0.0
7,1,0,335.0,50.0,60.0,120.0,0.0
8,1,1,385.0,0.0,40.0,60.0,90.0
9,1,2,335.0,0.0,170.0,120.0,0.0
10,1,3,335.0,0.0,170.0,120.0,0.0
11,1,4,335.0,0.0,170.0,120.0,0.0
12,1,5,0.0,0.0,820.0,60.0,0.0
13,1,6,0.0,0.0,820.0,120.0,0.0

In [56]:
df = pd.read_csv("./split_week_csv/baseline.csv")
df = df[df["Text"].str.startswith("Free")].reset_index(drop=True)
df["Start"] = pd.to_datetime(df["Start"], format="%H:%M")
df["End"] = pd.to_datetime(df["End"], format="%H:%M")
df["Duration"] = (df["End"] - df["Start"]).dt.total_seconds() / 60 / 60
df = df.groupby(["Week", "Text"])["Duration"].sum().reset_index()
multipliers = [4,2]
def multiply_duration(row):
    return multipliers[row['Week']] * row['Duration']
def average_duration(row):
    return round(row['Duration'] / sum(multipliers), 1)
df['Duration'] = df.apply(multiply_duration, axis=1)
df = df.groupby("Text")["Duration"].sum().reset_index()
df['Duration'] = df.apply(average_duration, axis=1)
print(df.to_markdown(index=False))

| Text                     |   Duration |
|:-------------------------|-----------:|
| Free                     |       52.5 |
| Free (at Gymnastics)     |        0.8 |
| Free (boys at home)      |       17.4 |
| Free (boys in bed)       |        9.3 |
| Free (with Milo at home) |        1.5 |